In [65]:
import pandas as pd
df = pd.read_csv("C:/Users/XPG1/Desktop/Telco-Customer-Churn.csv")

In [66]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [67]:
gender_x = df['gender']
partner_x = df['Partner']
dependents_x = df['Dependents']
phoneService_x = df['PhoneService']
Churn_y = df['Churn']

In [68]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [69]:
encoder = LabelEncoder()

In [70]:
#input variable
encoder.fit(gender_x)
encoded_gender_X = encoder.transform(gender_x)

encoder.fit(partner_x)
encoded_partner_X = encoder.transform( partner_x)

encoder.fit(dependents_x)
encoded_dependents_X = encoder.transform(dependents_x)

encoder.fit(phoneService_x)
encoded_phoneService_X = encoder.transform(phoneService_x)

#target variable
encoder.fit( Churn_y)
encoded_y = encoder.transform( Churn_y)

In [71]:
encoded_X = np.array([encoded_gender_X, encoded_partner_X, encoded_dependents_X, encoded_phoneService_X])

In [72]:
encoded_df_X = pd.DataFrame( encoded_X).T
encoded_df_X.columns = ['gender', 'partner', 'dependants', 'phoneService']
encoded_df_X.head()

   gender  partner  dependants  phoneService
0       0        1           0             0
1       1        0           0             1
2       1        0           0             1
3       1        0           0             0
4       0        0           0             1

In [73]:
encoded_df_y = pd.DataFrame( encoded_y )
encoded_df_y.columns = ['target']
encoded_df_y.head()

   target
0       0
1       0
2       1
3       0
4       1

In [74]:
churn_df = pd.concat([encoded_df_X, encoded_df_y], axis = 1 )
churn_df.head()

   gender  partner  dependants  phoneService  target
0       0        1           0             0       0
1       1        0           0             1       0
2       1        0           0             1       1
3       1        0           0             0       0
4       0        0           0             1       1

In [75]:
train_data = churn_df[:-10]
test_data = churn_df[-10:]

train_input = train_data[['gender', 'partner', 'dependants', 'phoneService']]
train_target = train_data['target']

test_input = test_data[['gender', 'partner', 'dependants', 'phoneService']]
test_target = test_data['target']

In [76]:
# Training
from sklearn.neural_network import MLPClassifier
model =MLPClassifier( hidden_layer_sizes = ( 10, ), activation ='relu', solver ='adam', verbose =0,
random_state=1, max_iter=500 )
model.fit( train_input, train_target )

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [77]:
## Testing
y_pred = model.predict( test_input )
y_true = test_target

In [78]:
## mse
from sklearn.metrics import mean_squared_error
result_mse = mean_squared_error( y_true, y_pred )
print( 'MSE: ', + result_mse )

## accuracy
from sklearn.metrics import accuracy_score
result_acc = accuracy_score(y_true, y_pred )
print('ACC: ', + result_acc )


## confusion matrix
from sklearn.metrics import confusion_matrix
result_confMatrix = confusion_matrix( y_true, y_pred )
print( 'Conf Mat: ', + result_confMatrix )

MSE:  0.2
ACC:  0.8
Conf Mat:  [[8 0]
 [2 0]]